.loginPanel{
    margin-top: 7rem;
    text-align: center;
    justify-content: center;
}

.loginPanel .form-input {
    margin-top: 0.7rem;
    text-align: center;
    justify-content: center;
}

.loginPanel .form-input input{
    margin: auto;
    padding: 10px;
    display: block;
}

.loginPanel .form-input button{
    margin-top: 10px;
    background-color: purple;
    padding: 10px 15px;
    text-decoration: none;
    border: 0.4px solid white;
    border-radius: 10px;
    
}

/* Add Movie Page */
.addMoviePanel{
    width: 300px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.307);
    justify-content: center;
    margin: 4rem auto auto auto;
    text-align: center;
}

.addMoviePanel .form-input input:first-child{
    margin-top: 5px;
}

.addMoviePanel .form-input input{
    width: 200px;
    margin-bottom: 5px;
    padding: 10px;
}

.addMoviePanel .form-input button{
    background-color: purple;
    border: 0.4px solid white;
    border-radius: 5px;
    padding: 12px;
}

/* Add Admin Page */
.addAdminPanel{
    width: 300px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.307);
    justify-content: center;
    margin: 4rem auto auto auto;
    text-align: center;
}

.addAdminPanel .form-input input:first-child{
    margin-top: 5px;
}

.addAdminPanel .form-input input{
    width: 200px;
    margin-bottom: 5px;
    padding: 10px;
}

.addAdminPanel .form-input button{
    background-color: purple;
    border: 0.4px solid white;
    border-radius: 5px;
    padding: 12px;
}

/* Panel page */

.panelMenus{
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}

.panelMenus div{
    margin: 1rem auto auto auto;
    width: 300px;
    color: black;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.675);
    font-weight: bold;
}

.panelMenus a{
    color: inherit;
}

.panelMenus .logout{
    background-color: red;
    color: white;
}