
		<!-- ALL MOVIES -->
		<div class="container" style="text-align: center">
			<h1>Gösterimdeki Bütün Filmler</h1>
		</div>

		<section class="allMovies container">
			{{#each movies}}
			<div class="allMovieBox">
				<div class="movieImg">
					<img src="{{image}}" alt="" />
				</div>
				<div class="movieInfo">
					<div class="AllMovieTitle">{{title}}</div>
					<div class="AllMovieDesc">
						{{description}}
						<a href="/iletisim"><div class="buyTicket">Satın Al</div></a>
					</div>
				</div>
			</div>
			{{/each}}

		</section>

