
		<!-- ABOUT US -->
		<div class="container" style="text-align: center">
			<h1>Hakkımızda</h1>
		</div>

		<section class="aboutus container">
			<div class="aboutTitle">
				<img src="/img/logo.png" alt="" style="margin: auto" />
				{{#each siteSettings}}
				<p>
					{{about}}
				</p>
				{{/each}}
			</div>
		</section>