<!-- CONTACT US -->
		<div class="container" style="text-align: center">
			<h1>İletişim</h1>
		</div>

		<div class="contactform container">
			{{#each siteSettings}}
			<div class="contactLeft">
				<h2>İletişim</h2>
				<p>Bize 7 gün ve 24 saat ulaşabilirsiniz.</p>
				<b>Telefon Numaramız:</b> {{phone}} <br />
				<b>Adres: </b> {{address}}
				<div class="map">
					<iframe
						src="{{iframesrc}}"
						width="500"
						height="300"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
			</div>
			<div class="contactRight">
				<h3>Bize Yazın</h3>
				<form method="post" action="/iletisim/process">
				<div class="inputList">
					Adınız Soyadınız:
					<input name="namesurname" placeholder="Tolga U" class="contactinput" type="text" />
					Telefon Numaranız:
					<input name="phone" placeholder="0551 000 0000" class="contactinput" type="text" />
					Mesajınız:
					<textarea name="message" class="contactinput" name="" id="" cols="30" rows="5"> </textarea>
					<button class="contactButton" type="submit">Gönder</button>
				</div>
				</form>
			</div>
		</div>

		{{/each}}
