
	<body>
		<!-- NAVBAR -->
		<div class="navbar">
			<div class="logo">sinemaisparta</div>
			<div class="nav-links">
				<ul>
					<a href="/"><li>Anasayfa</li></a>
					<a href="filmler"><li>Filmler</li></a>
					<a href="hakkimizda"><li>Hakkımızda</li></a>
					<a href="iletisim"><li>İletişim</li></a>
				</ul>
			</div>
		</div>