<body>

    <div class="addAdminPanel">
        <h2>Admin Ekle</h2>
        <form method="post"action="/admin/admins/add/process" enctype="multipart/form-data">
        <div class="form-input">
            <input name="username" type="text" placeholder="Kullanıcı adı">
            <input name="password" type="password" placeholder="Şifre">
            <button type="submit">Admin Ekle</button>
            <a href="/admin">Geri</a>
        </div>

        </form>
    </div>
    
</body>