<body>

    <div class="addAdminPanel">
        <h2>Kampanya Ekle</h2>
        <form method="post"action="/admin/campaigns/add/process" enctype="multipart/form-data">
        <div class="form-input">
            <input name="title" type="text" placeholder="Kampanya adı">
            <textarea name="description" type="textarea" placeholder="Açıklaması">Açıklama</textarea>
            <button type="submit">Kampanya Ekle</button>
            <a href="/admin/panel/">Geri</a>
        </div>

        </form>
    </div>
    
</body>