<body>

    <div class="loginPanel">
        <h2>Giriş Ekranı</h2>
        <form type="" action="">
        <div class="form-input">
            <input type="text" placeholder="Kullanıcı adı">
            <input type="password" placeholder="Şifre">
            <button type="submit">Giriş Yap</button>
        </div>
        </form>
    </div>
    
</body>