<body>

    <div class="addMoviePanel">
        <h2>Mesajlar</h2>
        {{#each messages}}
        <div class="message">
            Başlık: {{namesurname}} <br>
            Telefon: {{phone}} <br>
            Mesaj: {{message}}
        </div>
        <hr>
        {{/each}}
                    <a href="/admin/panel/">Geri</a>

    </div>
    
</body>