<body>
{{#if sessionFlash.exist }}

<script>alert('İşlem başarıyla tamamlandı');</script>

{{/if}}
    <div class="panelMenus">
        Hoşgeldiniz <b>sayın yetkili</b>
        <h2>Menüler</h2>
        <div><a href="../movies/add">Film Ekle</a></div>
        <div><a href="../campaigns/add">Kampanya Ekle</a></div>
        <div><a href="../admins/add">Admin Ekle</a></div>
        <div class="logout"><a href="../logout">Çıkış Yap</a></div>
    </div>
    
</body>