		<!-- Footer -->
		<section class="footer container">
			Tüm hakları saklıdır.
			<div class="socials">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-instagram"></a>
			</div>
		</section>
	</body>
</html>