		<!-- Footer -->
		{{#each siteSettings}}

		<section class="footer container">
			Tüm hakları saklıdır.
			<div class="socials">
				<a href="{{fb}}" class="fa fa-facebook"></a>
				<a href="{{tw}}" class="fa fa-twitter"></a>
				<a href="{{ig}}" class="fa fa-instagram"></a>
			</div>
		</section>
	</body>
</html>

{{/each}}